# Quiz : Numpy & Pandas basics

# Q1. Write the code according to the following coditions

**conditions**
1. use the 'y_pred' (numpy array).
2. cutoff = 0.6
3. convert the values of y_pred 
    * The value of y_pred should be 1, if the value is higher than equal to cutoff. 
    * The value of y_pred should be 0, if the value of y_pred is lesser than cutoff.
4. print y_pred that you've converted
5. examples
```
y_pred = np.array([0.1, 0.3, 0.5, 0.6, 0.8, 1.0 ])
## result
y_pred = np.array([0, 0, 0, 1, 1, 1])
```

In [8]:
## Run this cell
import numpy as np
# This code generates 1d array of 100 numeric values with between 0 ~ 1 randomly
y_pred = np.random.uniform(size=100)

####################
## your code here ##
####################

y_pred[y_pred>=0.6] = 1
y_pred[y_pred<0.6] = 0

print(y_pred)

[0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0.
 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0.
 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1.
 1. 1. 1. 1.]

# Q2. Write the code according to the following coditions

**conditions**
1. Load the data into a dataframe using url below
2. the variable name of the dataframe is 'df'
3. make dummy variables of 'rank'column into the dataframe
    - 'rank' column should be dropped, after making dummy variables
    - drop the dummy variable column for the rank 4
    - after drop the column, you should have 3 columns for dummy variables-
4. show first 20 rows of the dataframe

In [13]:
url = 'https://raw.githubusercontent.com/RayleighKim/Example_datasets/master/Graduate_apply.csv'
####################
## your code here ##
####################
import pandas as pd

df = pd.read_csv(url)
df = pd.get_dummies(df, columns=['rank'])
df = df.drop(['rank_4'], axis=1)

df.head(20)

    admit  gre   gpa  rank_1  rank_2  rank_3
0       0  380  3.61       0       0       1
1       1  660  3.67       0       0       1
2       1  800  4.00       1       0       0
3       1  640  3.19       0       0       0
4       0  520  2.93       0       0       0
5       1  760  3.00       0       1       0
6       1  560  2.98       1       0       0
7       0  400  3.08       0       1       0
8       1  540  3.39       0       0       1
9       0  700  3.92       0       1       0
10      0  800  4.00       0       0       0
11      0  440  3.22       1       0       0
12      1  760  4.00       1       0       0
13      0  700  3.08       0       1       0
14      1  700  4.00       1       0       0
15      0  480  3.44       0       0       1
16      0  780  3.87       0       0       0
17      0  360  2.56       0       0       1
18      0  800  3.75       0       1       0
19      1  540  3.81       1       0       0